<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/results" method="post">
      <h2>Queen Coordinates</h2>
      <label for="">QueenX:</label>
      <input type="text" name="input_queenX" value="">
      <label for="">QueenY:</label>
      <input type="text" name="input_queenY" value="">
      <h2>Player Coordinates</h2>
      <label for="">PlayerX</label>
      <input type="text" name="input_playerX" value="">
      <label for="">PlayerY:</label>
      <input type="text" name="input_playerY" value="">
      <button type="submit" name="button">PLAY</button>
    </form>
  </body>
</html>
