<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% if results %}
    <h1>ATTACKED!</h1>
    {% else %}
    <h1>SAFE!</h1>
    {% endif %}
  </body>
</html>
